.chat-sidebar {
  width: 300px;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  display: flex;
  flex-direction: column; /* Flex column layout */
}

.chat-sidebar h2 {
  font-size: 1.4em;
  margin-bottom: 16px;
  color: #333;
}

.chat-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* This will allow the ul to take up available space */
}

.chat-sidebar li {
  margin: 12px 0;
}

.chat-sidebar li button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: left;
  font-size: 1em;
  color: #333;
  font-weight: bold;
}

.chat-sidebar li button:hover {
  background-color: #e0e0e0;
}

.chat-sidebar li.selected button {
  background-color: #d3e2f1; 
  border-left: 4px solid #4a76a8; 
  color: #333;
}

.osusume {
    background-color: #333;
  color: white;
  margin-top: auto; /* Pushes the osusume link to the bottom */
  padding: 10px;
  text-align: center;
}

.osusume a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.osusume a:hover {
  color: #3a5b8a;
}